@model DBFactory.Structures.Recipe

@{
    ViewBag.Title = Model.Title;

    var group = @DBFactory.DB.Instance.GetGroup(@Model.GroupId);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="hidden-print">
                <ul class="breadcrumb">
                    <li><a href="/Recipe/ViewGroup/@group.Id">@group.Name</a></li>
                    <li>@Model.Title</li>
                </ul>
                <div class="col-md-12 text-center">
                    @*<div class="col-md-3 col-sm-2"><i class="fa fa-heart fa-lg" aria-hidden="true"></i> <a href="#">Favoritt</a></div>
                    <div class="col-md-3 col-sm-2"><i class="fa fa-share-alt fa-lg" aria-hidden="true"></i> <a href="#">Del med venner</a></div>
                    <div class="col-md-3 col-sm-2"><i class="fa fa-shopping-basket fa-lg" aria-hidden="true"></i> <a href="/Cart/Add/@Model.ID">Legg i handlelisten</a></div>*@
                    <div class="col-md-3 col-sm-2"><i class="fa fa-print fa-lg" aria-hidden="true"></i> <a href="javascript:window.print()">Skriv ut</a></div>
                </div>
                <hr />
            </div>

            <!-- Left side -->
            <div class="col-md-3">
                <!-- Ingredients-->
                <div class="col-md-12">
                    <h2>Ingredienser</h2>
                    <ul>
                        @foreach (var ingredient in Model.Ingredients)
                        {
                            var ingredientType = DBFactory.DB.Instance.GetIngredient(ingredient.IngredientId);

                            if (ingredientType != null)
                            {
                                <li>@ingredient.Amount @ingredient.GetMesurementType() @ingredientType.Name </li>
                            }
                        }

                        @*@foreach (var recipeIngredient in DBFactory.DB.Instance.GetRecipeIngredients(Model.ID, int.MaxValue))
                        {
                            var ingredient = @DBFactory.DB.Instance.GetIngredient(@recipeIngredient.IngredientId);
                            <li>@recipeIngredient.Amount @recipeIngredient.GetMesurementType() @ingredient.Name</li>
                        }*@

                        @*<li>Egg 3 &#189; stk</li>
                        <li>Vann 2 &#189; dl</li>
                        <li>Salt 1 &#189; ts </li>*@
                    </ul>
                </div><!-- /Ingredients. -->

            </div>

            <!-- Right side. -->
            <div class="col-md-9">
                <div class="col-md-12">
                        <h2>@Model.Title</h2>
                        <hr />
                    <div class="row">

                        <div class="col-md-4">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < @Model.Difficulty)
                                {
                                    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                                }
                                else
                                {
                                    <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                                }
                            }
                        </div>

                        <div class="col-md-4">
                            <i class="fa fa-clock-o fa-lg" aria-hidden="true"> @Model.PreparationTime minutter</i>
                        </div>

                        <div class="col-md-4">
                            @group.Name
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        @Html.Raw(@Model.ShortDescription.FormattedText)
                    </div>

                    <br />

                    <div class="row">
                        @Html.Raw(@Model.FullDescription.FormattedText)
                    </div>

                    <div class="row text-center hidden-print">
                        <hr />
                        <img src="@Model.FinishedMealImage.Image" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <hr />

        <div class="container hidden-print">
            <div class="row"><h2>Relaterte oppskrifter</h2></div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4"><img src="@Model.FinishedMealImage.Image" class="img-responsive" /></div>
                <div class="col-md-4 col-sm-4 col-xs-4"><img src="@Model.FinishedMealImage.Image" class="img-responsive" /></div>
                <div class="col-md-4 col-sm-4 col-xs-4"><img src="@Model.FinishedMealImage.Image" class="img-responsive" /></div>
            </div>
        </div>
    </div>
</body>
</html>
