@using DBFactory
@model DBFactory.Structures.Recipe

@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="form-horizontal">
            @using (Html.BeginForm("Edit", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label class="control-label col-md-2">Tittel</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(p => p.Name)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Kort beskrivelse</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(p => p.ShortDescription)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Gruppe</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(p => p.GroupId, new SelectList(DB.Instance.GetGroups(int.MaxValue), "ID", "Name"), htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Publisert</label>
                    <div class="col-md-10">
                        @Html.CheckBoxFor(p => p.Published)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Bilde</label>
                    <div class="col-md-10">
                        @Html.EditorFor(p => p.FinishedMealImage)
                        <img id="ImageUploadPreview" src="@Model.FinishedMealImage.Image" width="200" height="200" />
                    </div>
                </div>

                <input type="submit"  value="Lagre"/>
            }
        </div>

        <div>
            @Html.ActionLink("Tilbake til listen", "Index")
        </div>
    </div>
</body>
</html>
