@using DBFactory
@model DBFactory.Structures.Recipe

@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="form-horizontal">
            @using (Html.BeginForm("Edit", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label class="control-label col-md-2">Tittel</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(p => p.Title)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Vanskelighetsgrad</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(p => p.Difficulty)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Tid i minutter</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(p => p.PreparationTime)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Kort beskrivelse</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(p => p.ShortDescription.Text, new { cols = 20, rows = 5, @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Full beskrivelse</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(p => p.FullDescription.Text, new { cols = 60, rows = 10, @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Gruppe</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(p => p.GroupId, new SelectList(DB.Instance.GetGroups(int.MaxValue), "ID", "Name"), htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Vis artikkel for alle</label>
                    <div class="col-md-10">
                        @Html.CheckBoxFor(p => p.Published)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Bilde</label>
                    <div class="col-md-10">
                        @Html.EditorFor(p => p.FinishedMealImage)
                        <img id="ImageUploadPreview" src="@Model.FinishedMealImage.Image" width="200" height="200" />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" value="Lagre" />
                        </div>
                    </div>
                </div>
            }
        </div>

        <div>
            @Html.ActionLink("Tilbake til listen", "Index")
        </div>
    </div>
</body>
</html>
