@using DBFactory
@using DBFactory.Structures
@model List<Recipe>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tittel
                    </th>

                    <th>
                        Gruppe
                    </th>

                    <th>
                        Bilde
                    </th>

                    <th>
                        Vis for alle
                    </th>

                    <th>
                        Ingredienser
                    </th>

                    <th>
                        Vanskelighetsgrad
                    </th>

                    <th>
                        Tid i min.
                    </th>

                    <th>
                        Handling
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var recipe in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(@recipe.Title, "Details", new { id = @recipe.ID }, null)
                        </td>
                        <td>
                            @{ 
                                var group = DB.Instance.GetGroup(recipe.GroupId);
                            }

                            @if (group != null)
                            {
                                @Html.ActionLink(@group.Name, "ViewGroup", new { id = group.Id})
                            }
                        </td>

                        <td><img src="@recipe.FinishedMealImage.Image" width="150" height="150" /></td>
                        @{
                            string publish = @recipe.Published == true ? "Ja" : "Nei";
                        }
                        <td>@Html.ActionLink(publish, "TogglePublished", new { id = recipe.ID})</td>

                        <td>@recipe.Ingredients.Count</td>

                        <td>@recipe.Difficulty</td>

                        <td>@recipe.PreparationTime</td>

                        <td>
                            <div class="row">@Html.ActionLink("Ingredienser", "Ingredient", new { id = @recipe.ID }, null)</div>
                            <div class="row">@Html.ActionLink("Rediger", "Edit", new { id = @recipe.ID }, null) </div>
                            <div class="row">@Html.ActionLink("Slett", "Delete", new { id = @recipe.ID }, null)</div>
                            @*@Html.ActionLink("Ingredienser", "Ingredient", new { id = @recipe.ID }, null)*@
                            @*| @Html.ActionLink("Se oppskrift", "Details", new { id = @recipe.ID }, null)*@
                            @*| @Html.ActionLink("Rediger", "Edit", new { id = @recipe.ID }, null)*@ 
                            @*| @Html.ActionLink("Slett", "Delete", new { id = @recipe.ID }, null)*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
