@using DBFactory
@using DBFactory.Structures

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <a href="Recipe/Create">Lag ny </a>
        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Unique Id
                    </th>
                    <th>
                        Navn
                    </th>

                    <th>
                        Gruppe
                    </th>

                    <th>
                        Bilde
                    </th>
                    <th>
                        Handling
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var recipe in DB.Instance.GetRecipes(int.MaxValue))
                {
                    <tr>
                        <td>
                            @recipe.ID
                        </td>
                        <td>
                            @recipe.Name
                        </td>
                        <td>
                            @{ 
                                var group = DB.Instance.GetGroup(recipe.GroupId);

                                string GroupName = "";

                                if (group != null)
                                {
                                    GroupName = group.Name;
                                }
                            }

                            @GroupName
                        </td>

                        <td>
                            @{ 
                                /*
                                 * Pase image testing.
                                 */
                                string Image = "DefaultImage.png";
                                if (@recipe.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(recipe.Image);
                                    Image = string.Format("data:image/gif;base64, {0}", base64);
                                }
                            }
                            <img src="@Image" width="150" height="150" />
                        </td>

                        <td>
                            @Html.ActionLink("Slett", "Delete", new { id = @recipe.ID}, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
