@using DBFactory.Structures
@model List<Recipe>

@{
    ViewBag.Title = "ViewGroup";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <hr />
    <div>
        <div class="container col-xs-12">
            @foreach (var recipe in Model)
            {
                <a href="/Recipe/Details/@recipe.ID">
                    <div class="col-md-4 text-center">
                        <img src="@recipe.FinishedMealImage.Image" width="200" height="200" />
                        <h3>@recipe.Title</h3>

                        <div>
                            @for (int i = 0; i < @recipe.Difficulty; i++)
                            {
                                if (i < @recipe.Difficulty)
                                {
                                    <i class="fa fa-star icon" aria-hidden="true"></i>
                                }
                            }
                        </div>
                        @*
    @Html.Raw(@recipe.ShortDescription.FormattedText)
                        *@
                        <hr />
                    </div>
                </a>
            }
        </div> 
    </div>
</body>
</html>