@using DBFactory

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

Groups:
<ul>
    @foreach (var item in DB.Instance.GetGroups(100))
    {
        <li> @item.Name </li>
    }
</ul>


Recipes:

@foreach (var item in @DB.Instance.GetRecipes(10))
{
    @item.Name

    <ul>
        @foreach (var ingredient in @DB.Instance.GetIngredients(@item.ID, 100))
        {
            <li> @ingredient.Id @ingredient.Name @ingredient.Amount </li>
        }
    </ul>
}