@model NewTestFramework.Models.Oppskrift

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Oppskrift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tittel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tittel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Innhold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Innhold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bilde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bilde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupper.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupper.Navn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
